.oscillator-panel {
  /* Hacemos que herede el estilo base del módulo si quieres, 
     o simplemente ajustamos esto: */
  width: 100%; /* Ancho fijo del módulo */
  height: 100%; /* Ocupa toda la altura del rack */
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* justify-content: space-between; */
}
.oscillator-section {
  display: flex;
  justify-content: space-between;
}