.wheels-container {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #1a1a1a;
  padding: 10px 5px;
  border-radius: 10px;  
  border: 4px solid #1a110d;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}
