.retro-display-container {
  background-color: #1a1a1a;
  border: 4px solid #5d4037; /* Marco madera */
  border-radius: 6px;
  height: 60px;
  position: relative;
  overflow: hidden;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.9);
}

.retro-screen-glass {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, #2c3e50 0%, #000 120%);
  color: #00ff00;
  font-family: monospace;
  text-shadow: 0 0 4px #00ff00;
  z-index: 1;
}

.retro-label {
    position: absolute;
    bottom: 2px;
    right: 4px;
    font-size: 8px;
    color: rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    pointer-events: none;
}